@{

        Layout = "~/Views/Shared/Auth/_Layout.cshtml";

}

@model IEnumerable<Vaccine.Core.Domain.Reporting.CustomerReport>

<div id="tableworkspace">
    <div id="tabledata">
            <table id="tableapp" class="table table-striped">
                <thead><tr><th>Customer Name</th><th>Email</th><th>Status</th></tr></thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr><td><a href="Detail/@item.AggregateRootId" >@item.Name</a></td><td>@item.Email</td><td>@item.CustomerStatus</td></tr>
                    }
                </tbody>
            </table>
    </div>
</div>