@{
    if (Request.Headers["X-PJAX"] != null) 
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/Auth/_Layout.cshtml";
    }
}

@model Vaccine.Office.Web.Models.ErrorModel
           
<h2>
Sorry, an error occurred while processing your request.</h2>
<br />

<h3>@Model.ErrorMessage</h3>