@{
    Layout = null;
}

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           
          </a>
          
          <div class="nav-collapse">
            <div class="row">
                <div class="span2">
                    <div style="padding-top:10px; float:left">
                        <div id="title">
                                <a title="CMS" href="/" style="font-size:14px; color:White">Vaccine CQRS</a>
                        </div>
                    </div>
                
                        <div style="padding-top:11px">
                            <i class="icon-leaf icon-white" style="margin-left:10px; padding-right:10px"></i>
                       
                            @*<i class="icon-envelope icon-white" style="padding-right:10px"></i>*@

                            
                        </div>
                    
                </div>

                <div class="span3" style="margin-left:0px">
                    <div style="padding-top:6px;">
                        <div class="input-append" style="margin-bottom:0px">
                            
                            <input id="inputIcon" class="span2" type="text" style="-moz-border-radius: 0;">
                            <span class="add-on" style="-moz-border-radius: 0;">
                            <i class="icon-search"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <ul class="nav">
                      <li class="active"><a href="#">Home</a></li>

                      <li><a href="#about">About</a></li>
                      <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>

                <div class="span3">
                    <ul class="nav pull-right">
                    
                        <li id="fat-menu" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-user icon-white"></i> Profile
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="top:43px">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
