@{

        Layout = "~/Views/Shared/Auth/_Layout.cshtml";

}

@model IEnumerable<Vaccine.Core.Domain.Reporting.ProductStockReport>

@{ Html.RenderPartial("../OnlineBookShop/TopNavigationMenu"); }

<div id="tableworkspace">
    <div id="tabledata">
            <table id="tableapp" class="table table-striped">
                <thead><tr><th>Product Name</th><th>Code</th><th>Stock</th><th>Price</th></tr></thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr><td><a href="Detail/@item.AggregateRootId" >@item.Name</a></td><td>@item.Code</td><td>@item.Stock</td><td>@item.Price.ToString("0.00")</td></tr>
                    }
                </tbody>
            </table>
    </div>
</div>