@{
    Layout = null;
}

<a href="/CustomerRegistration/Register" class="btn btn-primary">Register Customer</a>  
<a href="/CustomerReport/List" class="btn btn-primary">Customer List</a> 
-

<a href="/Product/Stock" class="btn btn-primary">Add Product</a>
<a href="/Product/List" class="btn btn-primary">Product List</a>
-

<a href="/Order/PlaceOrder" class="btn btn-success">Place Order</a>

