@{
    if (Request.Headers["X-PJAX"] != null) 
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/Auth/_Layout.cshtml";
    }
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#BusinessSignUpForm').submit(function () {

            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: "POST",
                data: form.serialize(),
                success: function (data) {
                    $('#formworkspace').html(data);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {

                }

            });
            return false;
        });

    });
</script>

<form id="BusinessSignUpForm" class="form-horizontal" method="post" action="/CustomerRegistration/Register">
        <fieldset>
          <legend>Customer Registration</legend>
             <div class="control-group">
                <label class="control-label" for="input01">Name</label>
                <div class="controls">

                  <input type="text" class="input-xlarge" id="name" name="name">
              
                </div>
             </div>

             <div class="control-group">
                <label class="control-label" for="input01">Email</label>
                <div class="controls">

                  <input type="text" class="input-xlarge" id="email" name="email">
              
                </div>
            </div>
          
          
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn">Cancel</button>

          </div>
        </fieldset>
      </form>
