@{
    Layout = null;
}

<a href="/CustomerRegistration/Register" class="btn btn-primary">Register Customer</a>  
<a href="/CustomerReport/List" class="btn btn-primary">List of Customer</a> 
-
<a href="/Product/Register" class="btn btn-primary">Add Product</a>
<a href="/ProductReport/List" class="btn btn-primary">List of Product</a>
-
<a href="/Order/PlaceOrder" class="btn btn-success">Place Order</a>

