@{
    Layout = null;
}

<a href="/CustomerRegistration/Register" class="btn btn-primary">Register Customer</a>  
<a href="/CustomerReport/List" class="btn btn-primary">List of Customer</a> 

<a href="/Product/Register" class="btn btn-primary">Add Product</a>

